/* Home.css */

 body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }
  
  /* Rest of your styles for .home */
  
  
  .home {
    text-align: center;
    padding: 50px ; /* Adjust the padding to increase the height */
    padding-bottom: 15em;
    background-image: url('../images/Homepage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
  }
  
  
  .home-header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
  }
  
  .booking-form {
    background-color: #F1F2F2;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 500px;
    padding-top: 25px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-right: 100px;
    margin-top: 50px;
    text-align: left;
  }
  
  .booking-form label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .booking-form input,
  .booking-form select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #F1F2F2;
    font-family: 'Poppins', sans-serif; /* Set the font for form elements */
  }
  
  .date-inputs {
    display: flex;
    justify-content: space-between;
  }
  
  .room-select,
  .adult-select,
  .children-select {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
  }
  
  .guest-dropdown {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    top: 100%;
    left: 0;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .selected-options {
    display: inline;
    margin-left: 10px;
  }
  
  .option {
    display: flex;
    align-items: center;
    margin: 5px 0;
  }
  
  .option select {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F1F2F2;
    font-family: 'Poppins', sans-serif; /* Set the font for form elements */
  }
  
  .option label {
    margin-right: 10px;
  }
  
  .search-button {
    background-color: #864F2F;
    color: #fff;
    border: none;
    border-radius: 50px;
    padding: 17px 40px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 0px;
    margin-left: 300px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif; /* Set the font for the button */
  }
  
  .search-button:hover {
    background-color: #6B3C20;
  }
  